# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [3]:
CREATE TABLE oceyaunnas.planned_makes(
    id INT PRIMARY KEY IDENTITY(1,1),
    meals VARCHAR (50),
    calories INT,
    carbs INT
)

In [4]:
SELECT * FROM oceyaunnas.planned_makes

Add three rows to your table that are your planned makes.

In [5]:
INSERT INTO oceyaunnas.planned_makes
VALUES
    ('Chicken Fajitas', 10, 2),
    ('Salmon and Brocoli', 203, 4),
    ('Pork Steaks and Califlower Mac', 480, 25)

In [6]:
SELECT * FROM oceyaunnas.planned_makes

id,meals,calories,carbs
1,Chicken Fajitas,10,2
2,Salmon and Brocoli,203,4
3,Pork Steaks and Califlower Mac,480,25

## Update a Row

Change different values in one of your three rows.

In [7]:
UPDATE oceyaunnas.planned_makes
SET 
    meals = 'Salmon and Broccoli'
WHERE
    id=2

In [8]:
SELECT * FROM oceyaunnas.planned_makes

id,meals,calories,carbs
1,Chicken Fajitas,10,2
2,Salmon and Broccoli,203,4
3,Pork Steaks and Califlower Mac,480,25

## Delete a Row

Delete one of the rows from your table.

In [9]:
DELETE FROM oceyaunnas.planned_makes
WHERE id = 1

In [10]:
SELECT * FROM oceyaunnas.planned_makes

id,meals,calories,carbs
2,Salmon and Broccoli,203,4
3,Pork Steaks and Califlower Mac,480,25

## Drop the Table

While this has been fun, it is time to drop the table!

In [11]:
DROP TABLE oceyaunnas.planned_makes